html, div, span, h1, h2, h3, form, p, img, ul, li {padding: 0;margin: 0;}
body {margin: 0 auto;max-width:480px;color:#e6c8aa;}
body, input, textarea {font-family: Verdana, Arial, Tahoma, Sans-Serif;}
table {border: 0;border-collapse: collapse;}
img {border: 0;vertical-align: middle;max-width:100%;}

html {
    background-color:#e6c8aa;
}

body {
    background-color: #261b1b;
}

a {
    color: #e6c8aa;
}

a:hover {
    filter: brightness(1.5);
    transition: filter 0.5s ease-in-out;
}

a:active {
    filter: brightness(1.2);
    transition: filter 0.5s ease-in-out;
}

header {
    display: flex;
    justify-content: center;
    background-image: url(../css/img/bg-header.png);
    background-size: 100% 100%;
    width: 100%;
    height: 57px;
}

.head {
    margin-top: 18.5px;
    margin-left: -20%;
    color: #e6c8aa;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    background-color: #8d6347;
    padding: 20px 0 10px 0;
}

.pp {
    padding-left: 10px;
}

.pp p,
.pp h4 {
    text-indent: 2ch;
}

.mainHead {
    height: 20px;
    margin-top: -44px;
}

.mainFerma {
    width: 100%;
    height: 180px;
    margin-top: -30px;
}

.mainHome {
    background: rgb(97,65,49);
    background: linear-gradient(0deg, rgba(97,65,49,1) 14.000000000000002%, rgba(176,136,102,1) 93%);
    text-shadow: 0px -1px 0px #000;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.5) inset,
                0px 1px 0px 0px rgb(255, 255, 255, 0.5) inset;
    color: #e6c8aa;
    font-size: 15px;
    width: 480px;
}

.mainHome a {
    display: block;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
}

.mainHome:hover {
    filter: brightness(1.2);
}

.mainHome a:hover {
    filter: none;
}

.dialog {
    display: flex;
    width: 100%;
    height: auto;
    margin: 10px 0 0 20px;
}

.dialog:before {
    content: "";
    background-image: url(../css/img/man.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 11%;
    height: auto;
}

.dialogMan {
    background-color: #e6c8aa;
    color: #734c3d;
    font-size: 10px;
    line-height: 15px;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

.btn {
    background: rgb(97,65,49);
    background: linear-gradient(0deg, rgba(97,65,49,1) 14.000000000000002%, rgba(176,136,102,1) 93%);
    text-shadow: 0px -1px 0px #000;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.5) inset,
                0px 1px 0px 0px rgb(255, 255, 255, 0.5) inset;
    color: #e6c8aa;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    height: 40px;
    cursor: pointer;
}

.startButton {
    width: 150px;
}

.btn:hover {
    filter: brightness(1.5);
    transition: filter 0.5s ease-in-out;
}

.btn:active {
    filter: brightness(1.2);
    transition: filter 0.5s ease-in-out;
}

.startNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.btnChat,
.btnForum {
    width: 80px;
}

.navTwo {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.navOnline {
    display: flex;
}

.btnOnline {
    border-radius: 5px;
}

.btnOnline:after {
    content: "10000";
    background: linear-gradient(0deg, rgb(69, 46, 34) 14.000000000000002%, rgba(176,136,102,1) 93%);
    text-shadow: 0px -1px 0px #000;
    color: #e6c8aa;
    margin-left: 8px;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 20px;
}

footer p {
    margin-top: 25px;
}

.footSocial {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.footSocial img {
    width: 25px;
}

footer a {
    opacity: 0.2;
}

footer a:hover {
    filter: none;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}